.lower-home-container {
	height: fit-content;
	width: 100vw;
}
.geeks-section {
	height: 40vh;
	width: 100%;
	background: #99cc00;
	h2 {
		text-align: center;
		font-size: 3rem;
	}
}

.light {
	.geeks-section {
		background: #166fe5;
		h2 {
			color: white;
		}
		h4 {
			color: white;
		}
		p {
			color: white;
		}
	}
}

.card-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	.img-container {
		width: 100%;
		height: 20%;
	}
	.card {
		width: 15%;
		height: 90%;
		margin: 0rem 3rem;
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		h4 {
			font-size: 1.2rem;
			margin-top: 2rem;
			width: 100%;
			height: 20%;
		}
		p {
			height: 40%;
			width: 100%;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.circle-container {
	width: 250px;
	height: 250px;
	position: absolute;
	border: 15px solid white;
	border-radius: 50%;
	right: 5%;
	top: 27%;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	.circle-inner {
		h5 {
			height: 100%;
			width: 100%;
			font-size: 1.5rem;
			padding: 1rem 1.5rem;
			transform: rotate(20deg);
			text-align: center;
			color: white;
		}
	}
}

.circle-container {
	background-color: white;
	border: 15px solid black;
	.circle-inner {
		h5 {
			color: black;
		}
	}
}

.call-us {
	height: 15vh;
	background: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.light {
	.call-us {
		background: white;
		h1 {
			color: black;
		}
	}
}

.who-section {
	width: 100vw;
	height: 30vh;
	h1 {
		color: black;
		text-align: center;
	}
	.who-section-text {
		display: flex;
		width: 100%;
		height: 100%;
		padding: 2rem 2rem;
		justify-content: space-between;
		align-items: center;
		p {
			padding: 0rem 1rem;
			width: 100%;
			height: 100%;
		}
	}
}

.light {
	.who-section {
		background: black;
		p,
		h1 {
			color: white;
		}
	}
}
